{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

<div class="container">
    <h1>About Us</h1>
    <p> </p>
    <p>LocalExpoMart is an Online Shopping Destination used for buying the widest range of local Products and Services
      from Nepal.To mention few, you can use LocalExpo mart to buy any local products of Nepal like carpets, thanka
      paintings,singing bowl,pashminas etc. The mission of LocalExpoMart is to be one stop solution for the customers
      outside Nepal to use or buy Nepali products. The four Pillars of LocalExpo mart are Accessibility and Simplicity,
      Speed and Organization, Trust and Security, and Communication and Customer Service.</p>
    <p>If you have any queries, feel free to mail us at <a href="mailto:localexpomart@gmail.com"
        target="_blank">info@LocalExpoMart.com</a> or call us at 9843569874.</p>
    <p>Please Read also : Reasons to choose LocalExpoMart</p>
    <p> </p>
    <p> </p>
    <p><span style="font-weight:400">Shop from foreign countries to buy local products of Nepal</span></p>
    <p><strong>What </strong><a href="{% url 'index' %}" target="_blank"><strong>LocalExpoMart </strong></a><strong>Does
        for You</strong></p>
    <ul>
      <li><span style="font-weight:400">Our services allow people outside Nepal to buy local products easily</span></li>
      <li><span style="font-weight:400">We then ship the goods to Kathmandu &amp; pay customs and V.A.T. on your behalf!
          Every package can be tracked online through our website.</span></li>
      <li><span style="font-weight:400">Our service is a safe, fun wspecific countryand enjoy the enormous selection of
          local products whichever you want from your computers or mobiles.</span></li>
      <li><span style="font-weight:400">You can buy from any local retailers that you want to. Take a look at </span><a
          href="http://harilo.com/links" target="_blank"><span style="font-weight:400">recommended shops</span></a><span
          style="font-weight:400"> popular with our customers, or our </span><a href="http://harilo.com/deals"
          target="_blank"><span style="font-weight:400">latest deals</span></a><span style="font-weight:400">.</span>
      </li>
    </ul>
    <p> </p>
    <p><strong>Who Uses </strong><a href="{% url 'index' %}"
        target="_blank"><strong>LocalExpoMart</strong></a><strong>?</strong></p>
    <ul>
      <li style="font-weight:400"><span style="font-weight:400">Anyone living outside Nepal (from expats to Nepalis) can
          use LocalExpoMart&#39;s services to receive packages ordered online.</span></li>
      <li style="font-weight:400"><span style="font-weight:400">foreign business people who do not want to spend money
          on buying trips to the other countries- they save money on air plane tickets, hotels and food (not to mention
          expensive visa fees).</span></li>
    <p><strong>How did LocalExpoMart start?</strong></p>
    <p><span style="font-weight:400">The problem that -want to use Handmade products but unable to have it from Nepal,
        they looked to create a way for people in Nepal to export their goods that much of the world takes for granted.
        While online shopping has become an everyday thing in many countries, it seemed unfortunate that the
        infrastructure to accommodate people in Nepal had been left out and LocalExpoMart was formed to fill that gap.
        LocalExpoMart offers that bridge that connects Nepal to the world of online shopping.</span></p>
    </ul>
    </div>
    {% endblock %}