{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}
	<section class="container mar-top-60 shop-page">
    <div class="row">
        <div class="col-sm-8">
          <h1>Recommended Shops</h1>

          <h1 class="p1" style="text-align: justify;"><strong><span>While you can shop at any online store in the Nepal on Local Expo Mart here are some of our favourites.</span></strong></h1>

                    <div class="shops">
            <div class="rows">
              <div class="col-sm-12">
                <img src="/static/images/recommendation.jpg" alt="Recommended Shops" class="mar-bot-40">
              </div>
            </div>
          </div>
          <hr>
                    <div style="clear: both;"></div>
                                                  <div class="shops ">
                  <h2><span>Accessories</span> <hr></h2>


                <!-- <div class="rows"> -->
                                <div class="row mar-bottom-30">
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.zazzle.com/nepal+accessories" target="_blank">
                      <img src="/static/images/accessories/zazzle.png" alt="Newegg">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.machhabhyaguta.com//" target="_blank">
                      <img src="/static/images/accessories/maxabhyagutta.jpg" alt="Ali Express">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.nepbay.com/" target="_blank">
                      <img src="/static/images/accessories/nepbay.jpg" alt="Hobby King">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://smartdoko.com/" target="_blank">
                      <img src="/static/images/accessories/smartdoko.png" alt="eBags">
                    </a>
                  </div>
                </div>
                </div><div class="row mar-bottom-30">                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.nepalemarket.com/" target="_blank">
                      <img src="/static/images/accessories/nepalemarket.jpg" alt=" Oakley">
                    </a>
                  </div>
                </div>
                                
            </div>
                <!-- </div> -->
              </div>
              <div style="clear: both;"></div>
              <!-- <hr> -->
                                                      <div class="shops ">
                  <h2><span>Apparel</span> <hr></h2>


                <!-- <div class="rows"> -->
                                <div class="row mar-bottom-30">
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.clothinginnepal.com/" target="_blank">
                      <img src="/static/images/app1.png" alt="Ali Express">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.jdapparels.com/" target="_blank">
                      <img src="/static/images/app2.png" alt=" Banana Republic">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.textileinfomedia.com/business/nepal/apparel-and-garments" target="_blank">
                      <img src="/static/images/app3.png" alt="Bare Necessities ">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://garmentsofnepal.com/" target="_blank">
                      <img src="/static/images/app4.png" alt="Calvin Klein -">
                    </a>
                  </div>
                </div>
                </div>
                </div>
                                </div>
                <!-- </div> -->
              </div>
              <div style="clear: both;"></div>
              <!-- <hr> -->
                                                      <div class="shops ">
                  <h2><span>General</span> <hr></h2>


                <!-- <div class="rows"> -->
                                <div class="row mar-bottom-30">
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.hamrobazaar.com/" target="_blank">
                      <img src="/static/images/app5.gif" alt="Hobby King">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.esewapasal.com/" target="_blank">
                      <img src="/static/images/app6.png" alt="Amazon ">
                    </a>
                  </div>
                </div>
                                </div>
                <!-- </div> -->
              </div>
                            <div style="clear: both;"></div>
              <!-- <hr> -->
                                                      <div class="shops ">
                  <h2><span>Electronics</span> <hr></h2>


                <!-- <div class="rows"> -->
                                <div class="row mar-bottom-30">
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.chaudharygroup.com/index.php/our-company/electronics-a-white-goods.html" target="_blank">
                      <img src="/static/images/app7.jpg" alt=" Apple">
                    </a>
                  </div>
                </div>
                               <!-- </div> -->
              </div>
              <!-- <hr> -->
              <!-- <hr> -->
                                                      <div class="shops  bighr ">
                  <h2><span>Musical Instruments</span> <hr></h2>


                <!-- <div class="rows"> -->
                                <div class="row mar-bottom-30">
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="https://www.facebook.com/STCustomGuitars/photos/a.10154084385054557/10156989065759557/?type=3&theater" target="_blank">
                      <img src="/static/images/stcustom.jpg" alt="Musician&#039;s Friend">
                    </a>
                  </div>
                </div>
                                <div class="col-sm-3 disp-table">
                  <div class="rec-image">
                    <a href="http://sahanaguitars.com/" target="_blank">
                      <img src="/static/images/sahanaguitars.png" alt="Guitar Center">
                    </a>
                  </div>
                </div>
                                </div>
                <!-- </div> -->
              </div>
              <div style="clear: both;"></div>
              <!-- <hr> -->
              
</div>

	</div>
</section>
{% endblock %}