.form-container { 
	margin: 0 auto;
    width: 40%;
    margin-top: 50px;
    background: #367588;
    padding: 20px; 
    text-align: center;
}
.frm-element { margin: 10px 0;}

.form-quote-heading {
	margin-top: 0px;
    color: #fff;
}
.lft-flt{float: left; width: 50%; padding: 10px; color: #fff;}
.rght {text-align: right;}
.cntr {text-align: center;}

.lft-flt a{ color: #ddd; text-decoration: none; }
.lft-flt a:hover{ color: #aaa; }
.pad-btm-20{ padding-bottom: 20px;}
.mar-btm-20{ margin-bottom: 20px;}
.al-right { text-align: right; }
.al-cntr { text-align: center;}
.usertxt { color: #fff; font-size: 16px; }

.pad-top-20 { padding-top: 20px; }
.block-top {padding: 20px 0;}
.no-height {height: auto;}



/*************** Profile ******************/

.profile {border: 1px solid #ccc; padding: 5px; margin-bottom: 30px; }
.profile .blck-head { padding: 5px; border-bottom: 1px solid #ccc;}
.profile .blck-head .blck-left { font-size: 14px; color: #367586; font-weight: 700; }
.profile .blck-right { text-align: right; }
.profile .blck-right a {padding-right: 10px;}

.profile .blck-body { padding: 10px; }
.bld { font-weight: 700; }

/************** Profile ends **************/